<body>
	{% extends 'base.html' %}
	{% block content %}

	<div class="container gallery-container">

		<h1>활동모습</h1>
		<p class="page-description text-center">Activity</p>

		<div class="tz-gallery">
			<div class="row">

				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/media_01.jpg">
						<figure class="figure">
							<img src="/static/img/act/media_01.jpg" alt="또봄 언론소개 01">
							<figcaption class="figure-caption text-center">또봄 언론소개 01</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/media_02.jpg">
						<figure class="figure">
							<img src="/static/img/act/media_02.jpg" alt="또봄 언론소개 02">
							<figcaption class="figure-caption text-center">또봄 언론소개 02</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-12 col-md-4">
					<a class="lightbox" href="/static/img/act/3th_event_01.jpg">
						<figure class="figure">
							<img src="/static/img/act/3th_event_01.jpg" alt="또봄 3주년 행사 01">
							<figcaption class="figure-caption text-center">또봄 3주년 행사 01</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/3th_event_02.jpg">
						<figure class="figure">
							<img src="/static/img/act/3th_event_02.jpg" alt="또봄 3주년 행사 02">
							<figcaption class="figure-caption text-center">또봄 3주년 행사 02</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/3th_event_03.jpg">
						<figure class="figure">
							<img src="/static/img/act/3th_event_03.jpg" alt="또봄 3주년 행사 03">
							<figcaption class="figure-caption text-center">또봄 3주년 행사 03</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/3th_event_04.jpg">
						<figure class="figure">
							<img src="/static/img/act/3th_event_04.jpg" alt="또봄 3주년 행사 04">
							<figcaption class="figure-caption text-center">또봄 3주년 행사 04</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/3th_event_05.jpg">
						<figure class="figure">
							<img src="/static/img/act/3th_event_05.jpg" alt="또봄 3주년 행사 05">
							<figcaption class="figure-caption text-center">또봄 3주년 행사 05</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/3th_event_06.jpg">
						<figure class="figure">
							<img src="/static/img/act/3th_event_06.jpg" alt="또봄 3주년 행사 06">
							<figcaption class="figure-caption text-center">또봄 3주년 행사 06</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/summer_camp_1st.jpg">
						<figure class="figure">
							<img src="/static/img/act/summer_camp_1st.jpg" alt="또봄 첫번째 여름캠프">
							<figcaption class="figure-caption text-center">또봄 첫번째 여름캠프</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/summer_camp01.jpg">
						<figure class="figure">
							<img src="/static/img/act/summer_camp01.jpg" alt="또봄 두번째 여름캠프 01">
							<figcaption class="figure-caption text-center">또봄 두번째 여름캠프 01</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/summer_camp02.jpg">
						<figure class="figure">
							<img src="/static/img/act/summer_camp02.jpg" alt="또봄 두번째 여름캠프 02">
							<figcaption class="figure-caption text-center">또봄 두번째 여름캠프 02</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/winter_camp.jpg">
						<figure class="figure">
							<img src="/static/img/act/winter_camp.jpg" alt="또봄 겨울캠프">
							<figcaption class="figure-caption text-center">또봄 겨울캠프</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/ChiangMai_campaign_01.jpg">
						<figure class="figure">
							<img src="/static/img/act/ChiangMai_campaign_01.jpg" alt="또봄 치앙마이 01">
							<figcaption class="figure-caption text-center">또봄 치앙마이 해외캠프 01</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/ChiangMai_campaign_02.jpg">
						<figure class="figure">
							<img src="/static/img/act/ChiangMai_campaign_02.jpg" alt="또봄 치앙마이 02">
							<figcaption class="figure-caption text-center">또봄 치앙마이 해외캠프 02</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/supporters01.jpg">
						<figure class="figure">
							<img src="/static/img/act/supporters01.jpg" alt="또봄 서포터즈 01">
							<figcaption class="figure-caption text-center">또봄 서포터즈 01</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/supporters02.jpg">
						<figure class="figure">
							<img src="/static/img/act/supporters02.jpg" alt="또봄 서포터즈 02">
							<figcaption class="figure-caption text-center">또봄 서포터즈 02</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/supporters03.jpg">
						<figure class="figure">
							<img src="/static/img/act/supporters03.jpg" alt="또봄 서포터즈 03">
							<figcaption class="figure-caption text-center">또봄 서포터즈 03</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/supporters04.jpg">
						<figure class="figure">
							<img src="/static/img/act/supporters04.jpg" alt="또봄 서포터즈 04">
							<figcaption class="figure-caption text-center">또봄 서포터즈 04</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/diary_01.jpg">
						<figure class="figure">
							<img src="/static/img/act/diary_01.jpg" alt="병상일기 01">
							<figcaption class="figure-caption text-center">병상일기 01</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/diary_02.jpg">
						<figure class="figure">
							<img src="/static/img/act/diary_02.jpg" alt="병상일기 02">
							<figcaption class="figure-caption text-center">병상일기 02</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/photobook_01.jpg">
						<figure class="figure">
							<img src="/static/img/act/photobook_01.jpg" alt="포토북 출간기념">
							<figcaption class="figure-caption text-center">포토북 출간기념</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/photobook_02.jpg">
						<figure class="figure">
							<img src="/static/img/act/photobook_02.jpg" alt="포토북 출판기념 콘서트 포스터">
							<figcaption class="figure-caption text-center">포토북 출판기념 콘서트 포트섵</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/photobook_03.jpg">
						<figure class="figure">
							<img src="/static/img/act/photobook_03.jpg" alt="포토북 전달식 01">
							<figcaption class="figure-caption text-center">포토북 전달식 01</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/photobook_04.jpg">
						<figure class="figure">
							<img src="/static/img/act/photobook_04.jpg" alt="포토북 전달식 02">
							<figcaption class="figure-caption text-center">포토북 전달식 02</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/calss_01.jpg">
						<figure class="figure">
							<img src="/static/img/act/calss_01.jpg" alt="캘리그라피 포스터">
							<figcaption class="figure-caption text-center">캘리그라피 포스터</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/calss_01_01.png">
						<figure class="figure">
							<img src="/static/img/act/calss_01_01.png" alt="또봄 클래스 - 캘리그라피">
							<figcaption class="figure-caption text-center">또봄 클래스 - 캘리그라피</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/calss_02.jpg">
						<figure class="figure">
							<img src="/static/img/act/calss_02.jpg" alt="캘리그라피 모임">
							<figcaption class="figure-caption text-center">캘리그라피 모임</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="lightbox" href="/static/img/act/calss_03.jpg">
						<figure class="figure">
							<img src="/static/img/act/calss_03.jpg" alt="캘리그라피">
							<figcaption class="figure-caption text-center">캘리그라피</figcaption>
						</figure>
					</a>
				</div>
			</div>
		</div>
	</div>


			<div class="icon_arrowup">
				<a href="#"><img src="/static/img/icon/arrow-up.svg" alt="" width="32" height="32" title="top"></a>
			</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>

	<script>
		baguetteBox.run('.tz-gallery');

	</script>
	{% endblock %}
</body>
