{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>또봄 Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!--templates css-->
    <link rel="stylesheet" href="/static/css/business.css">

    <!-- Main Stylesheet File
    <link href="/static/css/style.css" rel="stylesheet">
    -->

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!--JavaScript-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- Libraries CSS Files -->
    <link href="/static/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
    <link href="/static/lib/owlcarousel/owl.carousel.css" rel="stylesheet">
    <link href="/static/lib/owlcarousel/owl.transitions.css" rel="stylesheet">
    <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/lib/venobox/venobox.css" rel="stylesheet">

    <!-- Nivo Slider Theme -->
    <link href="/static/css/nivo-slider-theme.css" rel="stylesheet">

    <!-- Responsive Stylesheet File -->
    <link href="/static/css/responsive.css" rel="stylesheet">

    <!-- Activity Theme -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link href="/static/css/activity.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
        rel="stylesheet">
    {% block extra_script %}
    {% endblock %}
</head>

<body data-spy="scroll" data-target="#navbar-example" style="padding-top:0; padding-bottom: 0;">
    <header style="margin-bottom: 20px; background-color: #000;">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark" style="margin-top: 0;"> <a href="{% url 'home' %}"
                    class="navbar-brand" style="display: block; width: 150px; height: 50px;"><img
                        src="/static/img/logo_Reverse.png" alt="또봄 로고" style="width: 100%;"></a>
                <!-- Toggle Button --> <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavbar"> <span class="navbar-toggler-icon"></span> </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="{% url 'establish' %}" class="nav-link">설립취지</a></li>
                        <li class="nav-item"><a href="{% url 'business' %}" class="nav-link">사업소개</a></li>
                        <li class="nav-item"><a href="{% url 'news' %}" class="nav-link">뉴스</a></li>
                        <li class="nav-item"><a href="{% url 'event' %}" class="nav-link">이벤트</a></li>
                        <li class="nav-item"><a href="{% url 'activity' %}" class="nav-link">활동 모습</a></li>
                        <li class="nav-item"><a href="{% url 'scontent' %}" class="nav-link">소셜 컨텐츠</a></li>
                        <li class="nav-item"><a href="{% url 'support' %}" class="nav-link">후원</a></li>
                        <li class="nav-item"><a href="{% url 'map' %}" class="nav-link">오시는 길</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--//header-->
    {% block content %}

    {% endblock %}

    <!-- Start Footer bottom Area -->
    <footer class="text-white text-center py-5 mt-3" style="background-color:black;">
        <div class="container">
            <p style="font-size:13px">주소 : 서울특별시 강남구 테헤란로 2길 8, 4층 17호(역삼동, 마이워크 스페이스) “한국청년암협회 또봄”<br>
                E-mail : iseeuagain17@gmail.com | 대표 : 이정훈
            </p>
            <ul class="list-unstyled list-inline social text-center">
                <li class="list-inline-item"><a href="https:www.facebook.com/iseeua.page" title="페이스북" target="blank"><i
                            class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https:www.instagram.com/iseeuagain/" title="인스타그램"
                        target="blank"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCf-FxfM4HXA7oBDmLu_P7AA"
                        title="유튜브" target="blank"><i class="fa fa-play"></i></a></li>
            </ul>
            Copyright © 한국청년암협회 또봄 Corp. All rights reserved.
        </div>
    </footer>
    <!--//end footer area-->
</body>

</html>
