<!--사업소개 페이지-->
{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="business_main">
        <div class="b_intro_txt">
            젊은 암 경험자를 지원, 소통하는<br> 국내 최초 비영리 기관
        </div>
        <img src="/static/img/business_2.jpg" class="img-fluid" alt="Responsive image">
        
    </div>
    <!--//business_main-->
    <div class="b_cont_wrap">
        <div class="row">
            <div class="col-md-3">
                <div class="b_tit">
                    <p>회복과 정서적 지원 및 권익을 위한 사업 </p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="b_cont">
                    <strong class="bc_t">암 경험자간 소통 모임 기획 및 지원</strong>
                    <p>젊은 암 경험자들이 모여 재능 및 정보 공유를 함으로써 경제적/정서적 안정감을 찾고, 이들의 권익이 침해되지 않도록 하여 사회에 조속히 복귀할 수 있도록 돕습니다. (2020년도는 코로나19로 비대면 모임으로 대체) </p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal3">
                    재능기부 클래스  >
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                        <div class="modal-body">
                            <!-- Carousel -->
                            <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators3" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleIndicators3" data-slide-to="3"></li>
                                    <li data-target="#carouselExampleIndicators3" data-slide-to="4"></li>
                                    <li data-target="#carouselExampleIndicators3" data-slide-to="5"></li>
                                    <li data-target="#carouselExampleIndicators3" data-slide-to="6"></li>
                                    <li data-target="#carouselExampleIndicators3" data-slide-to="7"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <img src="/static/img/event/class.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="/static/img/event/class1.png" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="/static/img/event/class2.png" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="/static/img/event/class3.png" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="/static/img/event/class4.png" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="/static/img/event/class5.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="/static/img/event/class7.png" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="/static/img/event/class8.jpg" class="d-block w-100" alt="...">
                                    </div>

                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <!-- //Carousel -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!--//modal-->
                </div>
                <div class="b_cont b_cont_bot">
                    <strong class="bc_t">여행버킷챌린지 ‘앎’ 캠페인</strong>
                    <p>암투병 중인 환자가 완치 후 가고싶은 해외여행지를 설정, 달성 시 동행 및 여행경비 지원합니다. 암 투병 중이거나 추적 검사 중인 암 경험자들에게 질병을 극복할 수 있다는 자신감을 부여하고, 젊은 암 경험자들에 대한 인식 개선을 위한 캠페인입니다.</p>
                    <div><a href="{% url 'event' %}"><button type="button" class="btn btn-outline-dark">캠페인 보기 ></button></a></div>
                </div>            
            </div>
        </div>
    </div>
    <!--//first b_cont_wrap-->
    
    <div class="b_cont_wrap">
        <div class="row">
            <div class="col-md-3">
                <div class="b_tit">
                    <p>치료 환경 및 인식 개선과 이를 위한 정책 제안 사업</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="b_cont b_cont_top">
                    <strong class="bc_t">의학, 치료제 관련 의학 세미나 개최</strong>
                    <p>똑똑한 투병생활 및 치료 결정과정에서 환자 본인이 배제되지 않도록 연 1회 특정 암 질환에 대한 발병원인 및 임상 실험 결과 등에 대한 세미나를 진행하며, 대학병원 등과의 협력도 진행할 예정입니다.</p>
                </div>
                <div class="b_cont b_cont_bot">
                    <strong class="bc_t">유튜브 채널 '또또봄tv' 운영 </strong>
                    <p>젊은 암 경험자 및 역경을 극복한 사람들의 전과 후를 인터뷰한 내용을 영상 제작하여 유튜브 채널을 운영하여, 극복의지를 심어주고, 정보 전달 및 인식개선을 위해 노력합니다.</p>
                <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal2">
                    또또봄tv  >
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                        <div class="modal-body">
                            <!-- Carousel -->
                            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="3"></li>
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="4"></li>
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="5"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <img src="/static/img/event/youtube_img.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="/static/img/event/youtube_img1.png" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="/static/img/event/youtube_img2.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="/static/img/event/youtube_img3.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="/static/img/event/youtube_img4.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="/static/img/event/youtube_img5.jpg" class="d-block w-100" alt="...">
                                    </div>

                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <!-- //Carousel -->
                        </div>
                        <div class="modal-footer">
                            <div><a href="https://www.youtube.com/channel/UCf-FxfM4HXA7oBDmLu_P7AA"><button type="button" class="btn btn-outline-dark">Go to Youtube</button></a></div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!--//modal-->
                </div>
            </div>            
        </div>
    </div>
    <!--//second b_cont_wrap-->

    <div class="b_cont_wrap">
        <div class="row">
            <div class="col-md-3">
                <div class="b_tit">
                    <p>예방, 치료, 회복에 관한 출판, 교육, 홍보 등의 사업</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="b_cont b_cont_top">
                    <strong class="bc_t">온라인/오프라인 홍보 브로셔 발간</strong>
                    <p>본 법인의 취지 및 활동 계획을 홍보하기 위한 목적의 홍보 브로셔/영상을 제작합니다.</p>
                </div>
                <div class="b_cont b_cont_bot1">
                    <strong class="bc_t">홍보 영상 제작/배포</strong>
                    <p>홍보 브로셔(온/오프라인용) 제작 및 영상 제작하여 SNS 및 각종 행사, 포럼, 세미나 참가 대상자에게 배포합니다.</p>
                </div>
            </div>
        </div>
    </div>
    <!--//third b_cont_wrap-->    
    <div class="icon_arrowup"><a href="#"><img src="/static/img/icon/arrow-up.svg" alt="" width="32" height="32" title="gotop"></a></div>
</div>
<!--//container-->

{% endblock %}
