<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>또봄</title>
    <meta name="description" content="또봄페이지">
    <!--ress css-->
    <link rel="stylesheet" href="https//uppkg.com/ress/dist/ress.min.css">
    <!--main CSS-->
    <link rel="stylesheet" href="/static/css/main.css">
    <!--font-->
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
  <div id="home" class="big-bg">
    <div class="main-nav">
      <input type="checkbox" id="check">
      <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
      </label>
      <div class="sidebar">
        <header>또봄</header>
          <ul>
            <li><a href="establish"><i class="fas fa-seedling"></i>설립취지</a></li>
            <li><a href="business"><i class="far fa-lightbulb"></i>사업소개</a></li>
            <li><a href="activity"><i class="fas fa-icons"></i>또봄활동</a></li>
            <li><a href="news"><i class="fas fa-newspaper"></i>News</a></li>
            <li><a href="scontent"><i class="fab fa-youtube"></i>Social</a></li>
            <li><a href="event"><i class="fas fa-paper-plane"></i>Event</a></li>
            <li><a href="support"><i class="fas fa-heart"></i>후원</a></li>
            <li><a href="map"><i class="fas fa-map-marker-alt"></i>Contact</a></li>
          </ul>
      </div>
    </div><!--/.main-nav-->
    <div class="home-content wrapper">
      <h2 class="page-title"></h2>
  </div><!--/#home-->
  
  </body>
</html>
