<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>KYCA</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="한국청년암협회 메인 페이지" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/static/css/bootstrap-grid.css" rel="stylesheet">
  
  <!-- Libraries CSS Files -->
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="/static/lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="/static/lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/static/lib/venobox/venobox.css" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="/static/css/nivo-slider-theme.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/css/main.css" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="/static/css/responsive.css" rel="stylesheet">

 
  
</head>

<body data-spy="scroll" data-target="#navbar-example">
  
    <header>
      <!-- header-area start -->
      <div id="sticker" class="header-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <!-- Navigation -->
              <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>

              <!-- Brand -->
              <a class="navbar-brand page-scroll sticky-logo" href="{% url 'home' %}">
                <h1><span></span>KYCA</h1>
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
              <ul class="nav navbar-nav navbar-right">
                <li class="active">
                  <a class="page-scroll" href="{% url 'home' %}">Home</a>
                </li>
                <li>
                  <a class="page-scroll" href="establish">About</a>
                </li>
                <li>
                  <a class="page-scroll" href="business">Project</a>
                </li>
                <li>
                  <a class="page-scroll" href="activity">Activity</a>
                </li>
                <li>
                  <a class="page-scroll" href="support">support</a>
                </li>
              </ul>
            </div>
            <!-- navbar-collapse -->
          </nav>
          <!-- END: Navigation -->
        </div>
      </div>
    </div>
  </div>
  <!-- header-area end -->
</header>
<!-- header end -->

  <!-- Start Video Area -->
    <div id="video-container">
      <div class="video-overlay"></div>
        <div class="video-content">
          <div class="inner">
            <h1>Welcome to</h1>
              <p>한국청년암협회</p>
                <p></p>
                  <div class="scroll-icon">
                    <a class="page-scroll" href="#about"><img src="/static/img/main/scroll-icon.png" alt=""></a>
                  </div>
          </div>
        </div>
        <video autoplay="" loop="" muted>
        <source src="https://t1.kakaocdn.net/kakaocorp/main/kakao10/img/corp_pc.mp4"></video>
    </div>
  <!-- End Video Area -->

  <!-- Start About area -->
  <div id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>About</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="establish">
								  <img src="/static/img/img_about.jpg" alt="">
								</a>
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <a href="establish">
                <h4 class="sec-head">What We Do</h4>
              </a>
              <p>
                또봄은 20~30대 암환우들에게 극복의지를 주고, 여행을 테마로 병과 싸워 이겨낼 수 있는 원동력을 제공하며,
지속적으로 미래의 희망적인 삶을 이끌어 갈 수 있도록 돕는 커뮤니티이자 그들에 대한 부정적인 사회적 인식을
개선하고자 하는 국내 최초의 2030대를 돕는 유일무이한 커뮤니티입니다
              </p>
              <ul>
                <li>
                  <i class="fa fa-check"></i> 극복의지 프로젝트
                </li>
                <li>
                  <i class="fa fa-check"></i> 소통 프로젝트
                </li>
                <li>
                  <i class="fa fa-check"></i> 또봄 캠페인
                </li>
                <li>
                  <i class="fa fa-check"></i> 소셜채널 운영
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
    </div>
  </div>
  <!-- End About area -->

<!-- Start Service area -->
<div id="services" class="services-area area-padding">
  <div class="section-headline services-head text-center">
    <h2>Project</h2>
  </div>
  <div class="wrapper grid">
    <div class="item">
      <a class="services-icon" href="business">
         <i class="fas fa-paper-plane"></i></a>
          <h4>여행버킷리스트</h4>
            <p>
              암투병 중인 환자가 완치 후 가고싶은 해외여행지를 설정, 달성 시 동행 및 여행경비 지원
            </p>
    </div>
    <div class="item">
      <a class="services-icon" href="business">
        <i class="fa fa-camera-retro"></i></a>
          <h4>여행포토북</h4>
            <p>
              여행버킷리스트를 가고 싶은 의지를 불러일으킬 수 있는 매개체
            </p>
    </div>
    <div class="item">
      <a class="services-icon" href="business">
        <i class="fas fa-heart"></i></a>
          <h4>봉사활동</h4>
            <p>
              암을 극복한 사람들이 암환자에게 전하는 해피 바이러스 봉사
            </p>
    </div>
    <div class="item">
      <a class="services-icon" href="business">
        <i class="fas fa-icons"></i></a>
          <h4>Social</h4>
            <p>
              암환자와 소통하고 응원할 수 있는 소셜 채널 만들기, 힐링 콘서트
            </p>
              </div>
    <div class="item">
      <a class="services-icon" href="business">
        <i class="fas fa-seedling"></i></a>
          <h4>기부</h4>
            <p>
              치료비가 부족하여 치료가 어려운 2030대 암환자에게 치료비<br> 지원하기
            </p>
    </div>
    <div class="item">
      <a class="services-icon" href="business">
        <i class="far fa-lightbulb"></i></a>
          <h4>Support</h4>
            <p>
              암 극복 후 재취업 지원
            </p>
    </div>
  </div>
  <!-- End Service area -->


   <!-- Start Activity Area -->
   <div id="portfolio" class="portfolio-area area-padding fix">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Activity</h2>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12 photo">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="/static/img/main/main1.jpg" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                      <h4>후원인의 밤</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 photo">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="/static/img/main/main2.jpg" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                      <h4>포토북</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 photo">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="/static/img/main/main3.jpg" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                      <h4>재능기부 클래스</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 photo">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="/static/img/main/main4.jpg" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                      <h4>3주년 앙상블 파티</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 photo">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="/static/img/main/main5.jpg" alt="" /></a>
                <div class="add-actions text-center text-center">
                  <div class="project-dec">
                      <h4>여름캠프</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 photo">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="/static/img/main/main6.jpg" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                      <h4>Youtube 운영</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
        </div>
      </div>
    </div>
  </div>
  <!-- awesome-portfolio end -->



  <!-- Start Support Area -->
  <div class="suscribe-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
          <div class="suscribe-text text-center">
            <h3>한국청년암협회또봄과 함께하기</h3>
            <a class="sus-btn" href="support">후원하기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Support Area -->

  <!-- Start Footer bottom Area -->
  <footer>
    <div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                &copy; Copyright <strong>또봄</strong>. All Rights Reserved
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/static/lib/venobox/venobox.min.js"></script>
  <script src="/static/lib/knob/jquery.knob.js"></script>
  <script src="/static/lib/wow/wow.min.js"></script>
  <script src="/static/lib/parallax/parallax.js"></script>
  <script src="/static/lib/easing/easing.min.js"></script>
  <script src="/static/lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
  <script src="/static/lib/appear/jquery.appear.js"></script>
  <script src="/static/lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <!--
    <script src="contactform/contactform.js"></script>
  -->
  <!--icons-->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>
