<!--오시는길 페이지-->
{% extends 'base.html' %}

{%block content %}
<div class="container">
    <h2 class="text-center">오시는 길</h1>
        <div class="row" style="padding-top: 20px;">
            <!--지도 시작-->
            <div class="col-sm-6 col-xs-12" style="max-width: 100%; padding-bottom: 30px;">

                <div id="daumRoughmapContainer1606110905572"
                    class="root_daum_roughmap root_daum_roughmap_landing" style="max-width: 100%;">
                </div>

                <script charset="UTF-8" class="daum_roughmap_loader_script"
                    src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

                <!-- 실행 스크립트-->
                <script charset="UTF-8">
                    new daum.roughmap.Lander({
                        "timestamp": "1606110905572",
                        "key": "233or",
                        "mapWidth": "100%",
                        "mapHeight": "360",
                        "frameborder": "0"
                    }).render();
                </script>
            </div>
            <!--//지도 끝 -->

            <!--연락처 및 주소-->
            <div class="col-sm-4 col-xs-12" id="contact2">
                <h4 style="padding-top: 10px;">후원 문의 및 연락처</h4>
                <hr align="left" width="80%">
                <h5 class="pt-2">주소</h5>
                서울특별시 강남구 테헤란로 2길 8,<br> 4층 17호(역삼동, 마이워크 스페이스)<br>
                “한국청년암협회 또봄”<br>
                <h5 class="pt-2">Email</h5>
                http://한국청년암협회또봄.com<br>
                <h5 class="pt-2">YouTube</h5>
                <a href="https://www.youtube.com/channel/UCf-FxfM4HXA7oBDmLu_P7AA" target="blank"
                    style="color: #000;" title="유튜브 바로가기">"또또봄tv"</a><br>
            </div>
            <!--//연락처 및 주소-->
        </div>
        <!--//row-->
</div>
<!--//map container-->
{%endblock%}