	<body>
	{% extends 'base.html' %}
	{% block content %}


	<!-- start social contents -->

	<section class="pb-5 pt-5">
		<div class="container">
			<div class="row align-items-center justify-content-between ">
				<div class="col-12 col-md-7  mt-4 mt-md-0">
					<div class="embed-responsive embed-responsive-16by9 shadow-lg rounded overflow-hidden">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eyQyp4rXTGo" allowfullscreen=""></iframe>
					</div>
				</div>
				<div class="col-12 col-md-5 pr-md-5">
					<h1 class="mb-3 mt-5 display-5 font-weight-bold">5개월만에 말기 혈액암 극복 후 바뀐 것은?</h1>
					<p>갑작스런 혈액암 4기 그리고 5개월만에 극복?</p>
					<p>내 인생에 있어 암 투병 전과 후의 삶의 이야기.<br>

						국내 최초 젊은 암 경험자(투병자&경험자)를 돕는 비영리법인 <b>'또봄'</b>과
						유튜브를 시작하게 된 특별한 이유에 대해서 말합니다.</p>
					<div class="  d-flex mt-3 mb-1">
						<a class="btn btn-outline-dark btn-md  mt-md-3 text-dark  " href="#" role="button">자세히 보기</a>
					</div>
				</div>

			</div>
		</div>
	</section>




	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Blog Entries Column -->
			<div class="col-md-8">

				<ul class="list-inline">
					<li class="list-inline-item"><h2>스토리펀딩</h2></li>
					<li class="list-inline-item"><small class="text-muted">2030 암환우 살리는 여행 버킷북 스토리</small></li>

				
				</ul>

				<!-- Blog Post -->
				<div class="card mb-4">
					<img class="card-img-top" src="/static/img/scont-img-01.png" height="500px" alt="Card image cap">
					<div class="card-body">
						<h2 class="card-title">1화 젊은 사람이 암에 걸렸다고?</h2>
						<cite title="source title">-혈액암 말기부터 일상까지<br><br></cite>
						<p class="card-text text-truncate">저도 처음엔 스트레스성 위염인 줄 알았어요.
							조직검사 결과, 버킷림프종 혈액암 말기라는 판정을 받았죠.....
						</p>
						<a href="#" class="btn btn-outline-dark">자세히 보기 &rarr;</a>
					</div>
					<div class="card-footer text-muted">
						2020. 11. 24 by
						<span class="text-dark stretched-link font-weight-bold">일상을 찾아 떠나는 여행들 @이정훈</span>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="card mb-4">
					<img class="card-img-top" src="/static/img/scont-img-02.jpg" height="" alt="Card image cap">
					<div class="card-body">
						<h2 class="card-title">2화 저는 이미 죽은 사람이었어요</h2>
						<cite title="source title">-혈액암 말기부터 일상까지<br><br></cite>
						<p class="card-text text-truncate">2030 암 환자들은 젊다는 이유만으로 편견에 시달리곤해요. 갑작스럽게 혈액암 말기 선고를 받고 항암치료 때문에 회사에 병가를 냈는데, 어떤 분들은 제가 벌써 저 세상 사람인 것처럼 알고 있더라고요.
						</p>
						<a href="#" class="btn btn-outline-dark">자세히 보기 &rarr;</a>
					</div>
					<div class="card-footer text-muted">
						2020. 11. 24 by
						<span class="text-dark stretched-link font-weight-bold">일상을 찾아 떠나는 여행들 @이정훈</span>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="card mb-4">
					<img class="card-img-top" src="/static/img/scont-img-03.jpg" height="" alt="Card image cap">
					<figcaption class="figure-caption">여행버킷북 사진 중</figcaption>
					<div class="card-body">
						<h2 class="card-title">3화 다시 살고 싶어 떠난 여행</h2>
						<cite title="source title">-내 생에 진짜 여행은 아직 시작되지 않았다<br><br></cite>
						<p class="card-text text-truncate">갑작스런 혈액암 말기 선고, 끝나지 않을 것 같던 항암치료.
							모든 고통을 견디게 한 가장 큰 힘은 바로 ‘여행’이었어요.
							처음부터 여행을 꿈꾼 것 아녔어요. 완치 후 먹고픈 음식 리스트를 적다보니 예전에 사람들과 함께 다녔던 곳에 대한 기억들이 새록새록 떠올랐죠.

						</p>
						<a href="#" class="btn btn-outline-dark">자세히 보기 &rarr;</a>
					</div>
					<div class="card-footer text-muted">
						2020. 11. 24 by
						<span class="text-dark stretched-link font-weight-bold">일상을 찾아 떠나는 여행들 @이정훈</span>
					</div>
				</div>

				<!-- Pagination -->
				<ul class="pagination justify-content-center mb-4">
					<li class="page-item">
						<a class="page-link text-dark" href="#">&larr; Older</a>
					</li>
					<li class="page-item disabled">
						<a class="page-link" href="#">Newer &rarr;</a>
					</li>
				</ul>

			</div>

			<!-- Sidebar Column -->
			<div class="col-md-4 side-col h-100 ca-custom">
				<h2>다른 컨텐츠</h2>
				<div class="row row-cols-1 row-cols-md-1">
					<div class="col mb-4">
						<div class="card h-100">

							<div class="embed-responsive embed-responsive-1by1">
								<iframe class="embed-responsive-item card-img-top" src="https://www.youtube.com/embed/7DSe6iNYjI8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="card-body">
								<p class="card-text">하고 싶은 것 하세요' 라고
									당당하게 이야기 하는 청년이 있습니다

									그리고 실제로 본인이 하고 싶은 것을 하면서 살아가고 있습니다.
								</p>
							</div>
						</div>
					</div>
					<div class="col mb-4">
						<div class="card h-100">

							<div class="embed-responsive embed-responsive-1by1">
								<iframe class="embed-responsive-item card-img-top" src="https://www.youtube.com/embed/hZprEJ0Q6Ck" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="card-body">
								<p class="card-text">'하고 싶은 것 하세요' 라고 당당하게 이야기 하는 청년 창욱의 2번째 이야기입니다.</p>
							</div>
						</div>
					</div>
					<div class="col mb-4">
						<div class="card h-100">
							<div class="embed-responsive embed-responsive-1by1">
								<iframe class="embed-responsive-item card-img-top" src="https://www.youtube.com/embed/AtMg79rAkws" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="card-body">
								<p class="card-text">[유방암] 여성암이니 그냥 숨기고 살라고?</p>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->


	<!-- ##### All Javascript Script ##### -->

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/layout3.js"></script>


	<!-- start social contents -->
	{% endblock %}
</body>
