[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=iseeua1228
Group=www-data
WorkingDirectory=/home/iseeua1228/deploy/
ExecStart=/home/iseeua1228/deploy/venv/bin/gunicorn --workers 3 --bind unix:/home/iseeua1228/deploy/run/gunicorn.sock mysite.wsgi:application

[Install]
WantedBy=multi-user.target
