@charset "utf-8";

.business_wrap {
    max-width: 1160px;
    margin: 0 auto;
}

.b_intro_txt {
    width: 320px;
    padding-top: 73px;
    font-size: 22px;
    line-height: 34px;
    color: #1e1e1e;
    font-weight: bold;
}

.business_main img {
    display: block;
    max-width: 1160px;
    width: 100%;
    margin-top: 100px;
}

.b_cont_wrap {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

.b_cont_wrap:after {
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    clear: both;
    content: '';
}

.b_tit {
    float: left;
    width: 300px;
    display: block;
    padding: 53px 40px 0 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #1e1e1e;
    vertical-align: top;
}

.b_cont {
    float: right;
    width: 860px;
    padding-top: 53px;
    display: block;
}

.b_cont .bc_t {
    font-size: 18px;
    line-height: 30px;
    color: #1e1e1e;
}

.b_cont p{
    padding-top: 19px;
    line-height: 26px;
    font-size: 16px;
    color: #666;
}

.b_cont_wrap + .b_cont_wrap {
    margin-top: 60px;
}

.b_cont_wrap+.b_cont_wrap .b_cont_top {
    border-top: 1px solid #e6e6e6;
}

.clear_both {
    clear: both;
    content: '';
    display: invisible;
}