@charset "UTF-8";

/*----main-nav------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #btn:hover{color:#fff}
label #btn:hover{background:#343a40}

label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}


/*---큰 배경 이미지---*/
.big-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#home {
  background-image: url(/static/img/bg-masthead.jpg);
  min-height: 100vh;
}


/*----HOME----*/

.home-content {
  padding-top: 220px;
  text-align: center;
}
.page-title {
  font-size: 5rem;
  font-weight: 700;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-color: #432;
}
.sub-title {
  font-family: 'Source Sans Pro', serif;
  margin: 10px 0 42px;
  font-size: 1.7rem;
  font-weight: 700;
  font-color: #432;
  font-style: italic;
}
.home-content p{
  margin: 10px 0 42px;
  font-family: "나눔고딕", NanumGothic, sans-serif;
  font-size: 1.375rem;
  font-weight: normal;
}

/*---버튼----*/
.button {
  font-size: 1.125rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover {
  background:  #0090aa;
}
